# Python
venv/
.venv/
backend/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class


# Environment
.env

# Node
node_modules/

# VS Code
.vscode/

# Django
backend/staticfiles/
backend/db.sqlite3

# OS
.DS_Store
Thumbs.db